In [1]:
import pandas as pd
import quandl, math, datetime
import numpy as np
from sklearn import preprocessing, model_selection, neighbors
import matplotlib.pyplot as plt
from matplotlib import style
import pickle

With classification the goal is to create a model that best divides or seperates our data.

Nearest neighbours is one of the classification algorithms and it is based on the proximity of data points. We are checking who is closest based on proximity of the data and by that we assign it to a group. K-Nearest, the k is the number of neighbours that we are checking. If the point that we want to classify is positioned between two points from different groups it is hard to decide to which group this point belongs to. That is why it is important to use K values that are odd ex. 3, 5, 7. Because if the re is 2 points from group y against 1 point from group x, there is higher chance that the point 'b' belongs to group y, because it is closer to these 2 points of group y.

To measure the distances we use euclidian distance which means that the bigger a dataset is, the worse our alogrithm works.

In [2]:
df = pd.read_csv('./data/breast-cancer-wisconsin.data', names=['id', 'clump_thickness', 'unif_cell_size','unif_cell_shape','marg_adhesion','single_epith_cell_size','bare_nuclei','bland_chrom','norm_nucleoli','mistoses','class'])

In [3]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mistoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
df.isin(['?']).any()

id                        False
clump_thickness           False
unif_cell_size            False
unif_cell_shape           False
marg_adhesion             False
single_epith_cell_size    False
bare_nuclei                True
bland_chrom               False
norm_nucleoli             False
mistoses                  False
class                     False
dtype: bool

In [5]:
df.replace('?', -99999, inplace=True)

In [6]:
df.drop('id', axis=1, inplace=True) # id column is not needed as feature for our algorithms and it may cause harm to performance especially
# for k -nearest neighb

In [7]:
X = np.array(df.drop('class', axis=1))

In [8]:
y = np.array(df['class'])

In [9]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [10]:
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, y_train)

KNeighborsClassifier()

In [11]:
accuracy = clf.score(X_test, y_test)

In [12]:
accuracy

0.9357142857142857

In [13]:
with open('knearest.pickle', 'wb') as f:
    pickle.dump(clf, f)

In [38]:
example_measure = np.array([[4, 2, 1, 1, 1, 2, 3, 2, 1],[9, 2, 1, 1, 6, 2, 3, 2, 1]])

In [39]:
predict = clf.predict(example_measure)

In [40]:
predict

array([2, 4], dtype=int64)

The equation for euclidean distance is

$$ d\left( p,q\right)   = \sqrt {\sum _{i=1}^{n}  \left( q_{i}-p_{i}\right)^2 }  $$

Where i - dimensions, n - number of points, q - point, p - another point